@charset "UTF-8";

#box{
	margin-left: 10px;
	accent-color: #43a06f;
}

#chkbox{
	margin-top: 20px;
}

#list{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 3%;
}

.page-link:hover{
      background-color: rgb(227, 244, 229) !important;
      color:black
}
.page-link{
  color: black !important;
  border-radius: 60% !important;
  border : none !important;
}
.Page{
  border-radius: 60% !important;
}
.pagination{
  border-radius: 60% !important;
}
#name{
	font-weight: bold;
}

#kind{
 font-weight: bold;
 font-size: 15pt;
}

#btn_all{
	background-color: #58b483;
	color: white;
	width:200px;
	border-radius: 30px;
	border : none;

}
#btn_all:hover{
	background-color: #43a06f;
}

    