<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>모두의 이야기</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="css/comunity/comunity.css" rel="stylesheet"  />
</head>
<body>
	<div th:include="/main/header.html"></div>
	
	<div class="container">
		<div class="container text-center">
		 <div class="row">
		    <div class="col-2 " style="margin-top: 3%;" >
				<span id="category">카테고리</span>
				<hr />
				<a href="" id="list">모두의 고민</a> <br />
				<a href="" id="list">모두의 토크</a> <br />
				<a href="" id="list">모두의 자료</a>
			</div>
			
		    <div class="col-10" id="best">
				<div id="menu" >
					<div id="head">
						<h5>Weekly Best</h5>
						 <table class="table table-hover">
						    <tbody>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>jy3725</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>드디어 취뽀했어요!</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>miracle177</span>&nbsp;&nbsp;<span>2023/09/23</span></div><div>건강이 가장 중요한 것 갍아요...</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>qwer1234</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>퇴사통보했습니다.</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>kv2738</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>쌤들 MBTI는 뭐에요?!</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>main123</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>현 유치원교사 연봉투표받습니당</div></td>
						      </tr>

						     
						    </tbody>
						  </table>
					</div>
				</div>
				
				<div id="menu">
					<div id="head">
						<h5>모두의 고민</h5>
						<table class="table table-hover">
						    <tbody>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>miracle177</span>&nbsp;&nbsp;<span>2023/09/19</span></div><div>경력 15년차 이직가능할까요?ㅠ</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>qwer1234</span>&nbsp;&nbsp;<span>2023/09/21</span></div><div>취업이 안돼요....</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>jy3725</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>어디갈지 고민해주세요!</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>kv2738</span>&nbsp;&nbsp;<span>2023/09/24</span></div><div>이직 할 수 있을까요?</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>uu8282</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>포트폴리오 어떻게 만드나요?ㅠ</div></td>
						      </tr>
						    </tbody>
						  </table>
					</div>
				</div>
				
				<div id="menu">
					<div id="head">
						<h5>모두의 토크</h5>
						 <table class="table table-hover">
						    <tbody>
						     <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>uu8282</span>&nbsp;&nbsp;<span>2023/09/18</span></div><div>오늘도 무사히 퇴근!</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>kv2738</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>오늘은 다들 어떠셨나요?</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>qwer1234</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>20대 쌤들 모야라</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>jy3725</span>&nbsp;&nbsp;<span>2023/09/24</span></div><div>교사동호회 하나 만들까요?</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>miracle48693</span>&nbsp;&nbsp;<span>2023/09/23</span></div><div>MBTI 사이트 공유!</div></td>
						      </tr>
						    </tbody>
						  </table>
					</div>
				</div>
				
				<div id="menu">
					<div id="head">
						<h5>모두의 자료</h5>
						  <table class="table table-hover">
						    <tbody>
						     <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>jy3725</span>&nbsp;&nbsp;<span>2023/09/20</span></div><div>9월 환경구성 공유해요</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>miracle48693</span>&nbsp;&nbsp;<span>2023/09/19</span></div><div>만3세 활동지입니당</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>qwer1234</span>&nbsp;&nbsp;<span>2023/09/21</span></div><div>현장학습지 공유해요!</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>uu8282</span>&nbsp;&nbsp;<span>2023/09/19</span></div><div>만4세 활동지 공유</div></td>
						      </tr>
						      <tr>
						        <td colspan="3" style="text-align: start;"><div id="userinfo"><span>jmt123</span>&nbsp;&nbsp;<span>2023/09/22</span></div><div>영아반 교구사진입니당^^</div></td>
						      </tr>
						    </tbody>
						  </table>
					</div>
				</div>
				
			</div>
		  </div>
		  
		  </div>
	</div>
	
	<div th:include="/main/footer.html" ></div>
</body>
</html>