<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>모두의 리뷰</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/css/review/review.css" />
</head>
<body>
	<div th:include="/main/header.html"></div>
	
	<!--체크박스 start
	<div class="container">
		<div id="chkbox">
			<input type="checkbox" id="box" value="1" checked="on"/> 유치원
			<input type="checkbox" id="box" value="2" checked="on"/> 어린이집
			<input type="checkbox" id="box" value="3" checked="on"/> 영어유치원 | 파견업체
		</div>
	</div>
	체크박스 end-->
	
	<div id="list">
		<span id="kind"><유치원></span>
		<table class="table table-hover">
		    <tbody>
		      <tr>
		        <td style="width: 5%;">1</td>
		        <td style="width: 25%;" id="name">영동제일유치원</td >
		        <td style="width: 25%;">서울시 강남구 삼성동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 92%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">2</td>
		        <td style="width: 25%;" id="name">성요셉 유치원</td >
		        <td style="width: 25%;">서울시 강남구 청담동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 88%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">3</td>
		        <td style="width: 25%;" id="name">청담몬테소리유치원</td >
		        <td style="width: 25%;">서울시 강남구 청담동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 83%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">4</td>
		        <td style="width: 25%;" id="name">강남유정유치원</td >
		        <td style="width: 25%;">서울시 강남구 삼성동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 80%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">5</td>
		        <td style="width: 25%;" id="name">도곡렉슬유치원</td >
		        <td style="width: 25%;">서울시 강남구 도곡동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 75%"></div>
					</div>
				</td>
		      </tr>
		   	  <tr>
					<td colspan="4" style="text-align: center;"><a href=""> 전체보기</a> </td>
			  </tr>
		    </tbody>
  	</table>
	</div>
	
	<div id="list">
		<span id="kind"><어린이집></span>
		<table class="table table-hover">
		    <tbody>
		      <tr>
		        <td style="width: 5%;">1</td>
		        <td style="width: 25%;" id="name">GKL행복어린이집</td >
		        <td style="width: 25%;">서울시 강남구 삼성동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 100%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">2</td>
		        <td style="width: 25%;" id="name">GS리테일 푸르니 어린이집</td >
		        <td style="width: 25%;">서울시 강남구 역삼동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 97%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">3</td>
		        <td style="width: 25%;" id="name">가로수 어린이집</td >
		        <td style="width: 25%;">서울시 강남구 신사동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 95%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">4</td>
		        <td style="width: 25%;" id="name">강남구청 직장어린이집</td >
		        <td style="width: 25%;">서울시 강남구 학동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 89%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">5</td>
		        <td style="width: 25%;" id="name">강남데시앙포레어린이집</td >
		        <td style="width: 25%;">서울시 강남구 수서동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 70%"></div>
					</div>
				</td>
		      </tr>
		   	  <tr>
					<td colspan="4" style="text-align: center;"><a href=""> 전체보기</a> </td>
			  </tr>
		    </tbody>
  	</table>
	</div>
	
	<div id="list">
		<span id="kind"><영어유치원 &nbsp;| &nbsp;파견업체></span>
		<table class="table table-hover">
		    <tbody>
		      <tr>
		        <td style="width: 5%;">1</td>
		        <td style="width: 25%;" id="name">아뜰리에 자연학교</td >
		        <td style="width: 20%;">서울시 강남구 삼성동</td >
		        <td style="width: 50%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 80%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">2</td>
		        <td style="width: 25%;" id="name">메가스터디교육</td >
		        <td style="width: 25%;">서울시 강남구 청담동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 76%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">3</td>
		        <td style="width: 25%;" id="name">웁스베베</td >
		        <td style="width: 25%;">서울시 강남구 청담동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 74%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">4</td>
		        <td style="width: 25%;" id="name">오감</td >
		        <td style="width: 25%;">서울시 강남구 삼성동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 65%"></div>
					</div>
				</td>
		      </tr>
		      <tr>
		        <td style="width: 5%;">5</td>
		        <td style="width: 25%;" id="name">한솔교육</td >
		        <td style="width: 25%;">서울시 강남구 도곡동</td >
		        <td style="width: 45%;">
					<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				 		<div class="progress-bar bg-success" style="width: 50%"></div>
					</div>
				</td>
		      </tr>
		   	  <tr>
					<td colspan="4" style="text-align: center;"><a href=""> 전체보기</a> </td>
			  </tr>
		    </tbody>
  	</table>
	</div>
	
	<!--pagination start

			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>				
						<li class="page-item"><a class="page-link" >1</a>
					</li>
					</li>				
						<li class="page-item"><a class="page-link" >2</a>
					</li>
					</li>				
						<li class="page-item"><a class="page-link" >3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
	</div>
	pagination end-->
	
	<div th:include="/main/footer.html" ></div>
</body>
</html>