<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" href="/css/user/login.css" />
</head>
<body>
	<div th:include="/main/header.html"></div>
	
	<div style="text-align: center; margin-top: 50px;"><span style="color: darkgray; text-align: center;"> sns 로그인</span> </div>
	
	<div id="sns">	
		<a href=""> <img id="kakao" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/KakaoTalk_logo.svg/800px-KakaoTalk_logo.svg.png"  /> </a>
		<a href=""> <img id="naver" src="https://image.rocketpunch.com/company/5466/naver_logo.png?s=400x400&t=inside"  /> </a>
	</div>
	
	<div class="line-none"></div>
	
	<div class="container">
		<input type="text" placeholder="ID" style="margin-bottom: 15px;"/> <br />
		<input type="password" placeholder="PASSWORD" style="margin-bottom: 15px;"/> <br />
		<input type="submit" value="로그인"/ id="custom_btn" style="margin-bottom: 15px;"> <br />
		<a href="" id="find">아이디 찾기</a>  |
		<a href="" id="find">비밀번호 찾기</a> 
		<br />
		<div id="text" style="margin-top: 35px;">
		아직 <span id="name">모두의교사</span> 회원이 아니신가요? <br /> 지금 <a href="/signUp" id="find">회원가입</a>해보세요.
		</div>
	</div>
	
	<div th:include="/main/footer.html" ></div>
</body>
</html>