html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	
}


/* Disable selection with class "noUserSelect" */

.noUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* ========== Page header (Top bar) ========== */

.page-header {
	width: 100%;
	width: 100%;
	display: flex;
	z-index: 500;
	height: 110px;
	max-height: 110px;
	float: left;
	position: fixed;
	background-color: #fff;
}



/* Search bar (header) */

.searchBarMain {
	background: #fff;
	width: 80%;
	max-width: 680px;
	margin: 0 auto;
	height: 42px;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: fixed;
	left: 0;
	right: 0;
	top: 0
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 52px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
	height: 42px;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	width: calc(100% - 52px);
	outline: none;
	padding-right: 32px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
	position: absolute;
	right: 12px;
	top: 11px;
	color: rgba(0, 0, 0, 0.84);
	display: none;
	font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
	cursor: pointer;
}

.logo{
	margin-top: 25px;
	margin-left: 5%;
	
}
.sign{
	margin-top:70px;
	margin-left:68%;
	margin-right:5%;
	
}
.sign>a{
	text-decoration: none;
	font-weight: bolder;
	color: black;
}
.sing>a:hover{
	color: green;
}
nav{
	margin-top: 100px;
	margin-left: 5%;
}
.nav-link{
	font-weight: bold;
	color: black;
	font-size: 15pt;
}
.nav-link:hover{
	color: green;
}